
.compLanguageSwitcher {
	ul {
		padding-left: 0;
		list-style: none;
		font-size: 14px;
	}

	.flagBtn {
		background: #fff;
		border-radius: 16px;
		padding: 4px 8px;

		a {
			color: #000;
			text-decoration: none;
		}

		&:hover {
			background: #d6d6d6;
		}
	}

	.flagicon {
		display: inline-block;
		width: 20px;
		height: 10px;
		background-size: contain;
		background-repeat: no-repeat;
		margin-right: 5px;
	}

	.dropdown-menu {
		height: 200px;
		overflow: scroll;
	}
}